
@model HalloDocMVC.Models.CountStatusWiseRequestModel
@using static HalloDocMVC.Controllers.AdminController;

@{
    Layout = "_LayoutAdminDashboard";
}
<div class="container-fluid">
    <div class="row mb-2" style="--bs-gutter-x: 0rem;">
        <div class="btn col-4 col-md-2 text-start">
            <a href="#newrequest" id="newrequest" style="text-decoration:none;">
                <div class="p-1 rounded new ps-2" id="new">
                    <div class="d-inline-flex">
                        <i class="fa-solid fa-circle-plus mx-2 mt-1"></i>
                        NEW
                    </div>
                    <div class="p-2">
                        <span class="h4"><b>@Model.NewRequest</b></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="btn col-4 col-md-2 text-start">
            <div class="p-1 rounded pending ps-2" id="pending">
                <div class="d-inline-flex">
                    <i class="fa-solid fa-user-clock mx-2 mt-1"></i>
                   PENDING
                </div>
                <div class="p-2">
                    <span class="h4"><b>@Model.PendingRequest</b></span>
                </div>
            </div>
        </div>

        <div class="btn col-4 col-md-2 text-start">
            <div class="p-1 rounded actives ps-2" id="actives">
                <div class="d-inline-flex">
                    <i class="fa-solid fa-circle-check mx-2 mt-1"></i>
                    ACTIVE
                </div>
                <div class="p-2">
                    <span class="h4"><b>@Model.ActiveRequest</b></span>
                </div>
            </div>
        </div>

        <div class="btn col-4 col-md-2 text-start">
            <div class="p-1 rounded conclude ps-2" id="conclude">
                <div class="d-inline-flex">
                    <i class="fa-solid fa-clock-rotate-left mx-2 mt-1"></i>
                    CONCLUDE
                </div>
                <div class="p-2">
                    <span class="h4"><b>@Model.ConcludeRequest</b></span>
                </div>
            </div>
        </div>

        <div class="btn col-4 col-md-2 text-start">
            <div class="p-1 rounded toClose ps-2" id="toclose">
                <div class="d-inline-flex">
                    <i class="fa-solid fa-user-xmark mx-2 mt-1"></i>
                    TO CLOSE
                </div>
                <div class="p-2">
                    <span class="h4"><b>@Model.ToCloseRequest</b></span>
                </div>
            </div>
        </div>

        <div class="btn col-4 col-md-2 text-start">
            <div class="p-1 rounded unpaid ps-2" id="unpaid">
                <div class="d-inline-flex">
                    <i class="fa-solid fa-circle-dollar-to-slot mx-2 mt-1"></i>
                    UNPAID
                </div>
                <div class="p-2">
                    <span class="h4"><b>@Model.UnpaidRequest</b></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mx-2">
        <div>
            <strong class="fs-6">Patients</strong> <small>@TempData["CurrentStatus"]</small>
        </div>
        <div>
            <button class="btn btn-info text-white shadow-none mb-2">
                <small>
                    <i class="bi bi-send"></i>
                    <span class="adminIcon">Send Link</span>
                </small>
            </button>
            <button class="btn btn-info text-white shadow-none mb-2">
                <small>
                    <i class="bi bi-file-earmark-plus"></i>
                    <span class="adminIcon">Create Requests</span>
                </small>
            </button>
            <button class="btn btn-info text-white shadow-none mb-2">
                <small>
                    <i class="fa-solid fa-share"></i>
                    <span class="adminIcon">Export</span>
                </small>
            </button>
            <button class="btn btn-info text-white shadow-none mb-2">
                <small>
                    <i class="fa-solid fa-share-from-square"></i>
                    <span class="adminIcon">Export All</span>
                </small>
            </button>
            <button class="btn btn-info text-white shadow-none mb-2">
                <small>
                    <i class="fa-solid fa-user-nurse"></i>
                    <span class="adminIcon">Request DIY Support</span>
                </small>
            </button>
        </div>
    </div>

    <div class="row d-flex mt-2 mx-2 bg-white">
        <div class="searchBar d-flex px-2">
            <div class="searchPatientRegion col-sm-6 d-flex py-2">
                <div class="search d-flex m-1">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search Patients">
                </div>
                <div class="search d-flex m-1">
                    <i class="fa fa-search"></i>
                    <select class="select shadow-none" id="floatingSelectGrid">
                        <option selected>All Regions</option>
                        <option value="1">Ahmedabad</option>
                        <option value="2">Rajkot</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 d-flex">
                <div class="row requestType ms-auto">
                    <div class="col me-3">
                        <ul>
                            <li style="color:green;"><span style="color:black;">Patients</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li style="color:#BE9B50;">
                                <span class="mt-1"style ="color:black;">Family/Friends</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col me-3">
                        <ul>
                            <li style="color:#C56F87;">
                                <span style="color:black;">Business</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col me-2">
                        <ul>
                            <li style="color:#2B6B8B;">
                                <span style="color:black;">Concierge</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col me-2">
                        <ul>
                            <li style="color:#A181A9;">
                                <span style="color:black;">VIP</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive m-2 d-none d-md-block">
        <table class="w-100">
            <thead style="height:50px;">
                <tr>
                    <th scope="col">
                        <small>Name</small>
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col">
                        <small>Date Of Birth</small>
                    </th>
                    <th scope="col">
                        <small>Requestor</small>
                    </th>
                    <th scope="col">
                        <small>Physician Name</small>
                    </th>
                    <th scope="col">
                        <small>Date Of Service</small>
                    </th>
                    <th scope="col">
                        <small>Phone</small>
                    </th>
                    <th scope="col">
                        <small>Address</small>
                    </th>
                    <th scope="col">
                        <small>Notes</small>
                    </th>
                    <th scope="col">
                        <small>Chat With</small>
                    </th>
                    <th scope="col">
                        <small>Actions</small>
                    </th>
                </tr>
            </thead>
            @*<div id="myDiv" style="display: none">My Div</div>*@
            <tbody class="bg-white text-white" id="news" style="display: none">
             @foreach(var item in Model.adminDashboardList)
                        {
                            <tr class="@Enum.GetName(typeof(RequestType), item.RequestTypeId)  border-bottom border-white">
                                <td><small>@item.PatientName</small></td>
                                <td>
                                    <button class="btn border-white ">
                                        <i class="fa-regular fa-envelope"></i>
                                    </button>
                                </td>
                                <td>
                                    <small>@item.DateOfBirth.ToString("MM,dd , yyyy")</small>
                                </td>
                                <td><small>@item.Requestor</small></td>
                                <td><small>@item.RequestedDate.ToString("MM,dd , yyyy")</small></td>
                                <td>
                                    <button class="btn border border-white  mt-2">
                                        <i class="fa-solid fa-phone pe-2"></i>
                                        <small>@item.PatientPhoneNumber</small>
                                    </button>                            
                                    <div>
                                        <small>(Patient)</small>
                                    </div>

                                    @if(item.RequestTypeId != 2){
                                        <button class="btn border border-white  mt-2">
                                            <i class="fa-solid fa-phone pe-2"></i>
                                            <small>@item.RequestorPhoneNumber</small>
                                        </button>
                                        <div>
                                            <small>
                                                (@Enum.GetName(typeof(RequestType), item.RequestTypeId))
                                            </small>
                                        </div>
                                    }
                                </td>
                                <td><small>@item.Address</small></td>
                                <td><small>Admin transferred to Dr. AGOLA</small></td>
                                <td>
                                    <button class="btn border border-white  my-2">
                                        <small>Patient</small>
                                    </button>
                                    <button class="btn border border-white my-2">
                                        <small>Provider</small>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn border border-white my-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <small>Actions</small>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> View Case</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-card-checklist"></i> View Uploads</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-journals"></i> View Notes</a></li>
                                    </ul>

                                </td>
                            </tr>
                        }
            </tbody>
               @*<partial name="../Admin/_PartialViews/NewRequestAdmin">*@
            
        </table>
    </div>

    <div class="accordion mt-3 d-block d-md-none" id="accordionExample">
        <div class="accordion-item">
            <div class="accordion-header">
                <div class="container-fluid accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="row w-100">
                        <div class="col-6 mb-3">
                            Patient Name
                        </div>
                        <div class="col-6 mb-3">
                            Patient<i class="fa-solid fa-circle fa-xs ms-2 text-success"></i>
                        </div>
                        <div class="col-6">
                            Address
                        </div>
                        <div class="col-6">
                            <button class="btn btn-white border-info text-info rounded-pill 2px">
                                <small>Map Location</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show mb-5" data-bs-parent="#accordionExample">
                <div class="accordion-body container-fluid">
                    <p>Date of Birth:</p>
                    <p>Email : </p>
                    <p>Patient : </p>
                    <p>Transfer Notes : </p>
                    <p>Date of service : </p>
                    <p>Physician : </p>
                    <p>Requestor : </p>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                                <small>View Notes</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-success text-white rounded-pill 2px w-100">
                                <small>Doctors Note</small>
                            </button>
                        </div>

                        <div class="col-6 mb-3">
                            <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                                <small>View Uploads</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                                <small>Encounter</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #FFD43B;">
                                <small>Orders</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3 ">
                            <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                                <small>Email</small>
                            </button>
                        </div>
                    </div>
                    <div class="text-end d-md-flex justify-content-md-end mb-5">
                        <span>Chat With:</span>
                        <button class="btn btn-white border-info text-info me-md-2 mb-2" type="button">
                            <i class="fa-regular fa-user me-1"></i>
                            Patient
                        </button>
                        <button class="btn btn-white border-info text-info mb-2" type="button">
                            <i class="fa-solid fa-user-doctor me-1"></i>
                            Provider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/adminDashboard.js"></script>
<script>
    $("#newrequest").click(function () {
        $("#news").show();
    });
    $("#pendingrequest").click(function () {
        $("#pendings").show();
    });
    $("#activerequest").click(function () {
        $("#active").show();
    });
    $("#concluderequest").click(function () {
        $("#concludes").show();
    });
    $("#tocloserequest").click(function () {
        $("#tocloses").show();
    });
    $("#unpaidrequest").click(function () {
        $("#unpaids").show();
    });
</script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>